<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/forgotpassword.css">

  </head>
  <body>

    <div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>Reset your password?</h2>
	                <p>Change your password in three easy steps. This will help you to secure your password!</p>

	            </div>

	            <form class="card mt-4" action="/ConfirmPassword" method="post">
                <%- include("./partials/messages") %>
	                <div class="card-body">
	                    <div class="form-group"> <label for="email-for-pass"> New Password</label> <input class="form-control" type="text" id="email-for-pass" name = "password" required><small class="form-text text-muted">Enter the new password</small> </div>
	                </div>
                  <div class="card-body">
	                    <div class="form-group"> <label for="email-for-pass"> Confirm Password </label> <input class="form-control" type="text" id="email-for-pass" name = "cpassword" required><small class="form-text text-muted">Confirm the new password</small></div>
	                </div>
                   <input type="hidden"  name="email" value="<%=email%>">
	                <div class="card-footer"> <a href = "/otp"> <button class="btn btn-success" type="submit">Get New Password</button> </a><a href="/login" <button class="btn btn-danger" type="submit"> Back to Login</button>  </a></div>
	            </form>
	        </div>
	    </div>
	</div>

  </body>
</html>
