<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>404 Error Page</title>
    <link rel="stylesheet" href="/css/error404.css" />

    <!-- fontawesome cdn -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
  </head>
  <body>
    <!-- Navbar starts -->

    <div class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="/images/navlogo 3.png" style="width: 200px;"
        /></a>

        <img
          id="mobile-cta"
          class="mobile-menu"
          src="/images/menu.svg"
          alt="Open Navigation"
        />

        <nav>
          <img
            id="mobile-exit"
            class="mobile-menu-exit"
            src="/images/exit.svg"
            alt="Close Navigation"
          />

          <ul class="primary-nav">
            <li><a href="/archive">Archive</a></li>
            <li><a href="#">Call for paper</a></li>
            <li><a href="#">Committee</a></li>
            <li><a href="#">About VESIT</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="secondary-nav">
            <li>
              <span><a role="button" class="but2" href="#">Register</a></span>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Navbar ends -->

    <div id="error-page">
      <div class="content">
        <!-- <h2 class="header" data-text="404">
          404
        </h2> -->
        <img src="/images/404-graphic.svg" />
        <h4 data-text="Sorry!">
          Sorry!
        </h4>
        <p>
          The page you're looking for doesn't exist. If you think something is
          broken, report a problem.
        </p>
        <div class="btns">
          <a href="">return home</a>
          <a href="">report problem</a>
        </div>
      </div>
    </div>
    <footer
      class="footer-basic"
      style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);"
    >
      <div class="social">
        <a href="https://www.instagram.com/vesitedu/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCSztaAQdtzmlb05IedHf9Vg"
          ><i class="fab fa-youtube"></i
        ></a>
        <a href="https://www.linkedin.com/in/vesit"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://twitter.com/vesitedu"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.facebook.com/vesitedu/"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">
        <br />Vivekanand Education Society. All Rights Reserved&nbsp;©
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      </p>
    </footer>
  </body>
</html>
