*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body
{
  background-color: #FFFFFF;
  font-family: sans-serif;
}

.hero{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  position: relative;
}
.navbar {
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav ul.primary-nav a {
  text-decoration: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: left;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    position: unset;
    height: auto;
    width: 100%;
    padding: 2em;
    border-radius: 32px;
    box-shadow:  -12px -12px 61px #d7d7d7,
             12px 12px 61px #e9e9e9;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0 6em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .navbar nav ul.primary-nav {
    margin: 0;
    font-size: 10px;
  }
}


.table-container
{
  padding: 0 10%;
  margin:  40px auto 40px;;
  

}
.heading
{
  font-size: 40px;
  text-align: center;
  color: 40px;
  margin-bottom: 40px;

}
.table
{
  width: 100%;
  border-collapse: collapse;


}
.table thead
{
  background-color: black;

}
.table thead tr th{
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border:  1px solid #dee2e698;
  text-align: center;

}


.table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c4044;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;


}

.table .text_open{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: yellowgreen;


}

.table tbody tr td .btn
{
  width:130px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: rgb(255, 166, 0);
  font-weight: medium;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;


}
@media (max-width:768px){
  .table thead{
    display: none;
  }
  .table , .table tbody , .table tr , .table td{
    display: block;
    width: 100%;

  }
  .table tr
  {
    margin-bottom: 15px;
  }

.table tbody tr td{
  text-align: right;
  padding-left: 50%;
  position: relative;


}

.table td:before{
  content: attr(data-label);
  position: absolute;
  left: 0;
  /* width: 50%; */
  padding-left: 15px;
  font-size: 14px;
  text-align: left;
  font-weight: 600;


}
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
