@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", "Montserrat", "sans-serif";
  overflow-x: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: white;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/*navbar*/
.navbar {
  padding: 1em;
}

.navbar-brand img {
  width: 200px;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.menu-btn {
  display: block;
}

nav {
  box-shadow: -13px 17px 23px -9px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -13px 17px 23px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -13px 17px 23px -9px rgba(0, 0, 0, 0.63);
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav ul.primary-nav a {
  text-decoration: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: left;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    position: unset;
    height: auto;
    width: 100%;
    padding: 2em;
    border-radius: 32px;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1.2em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0 6em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}
/* Headings */

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  position: relative;
}

.left {
  z-index: 1;
  border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  background-color: #eee;
  position: absolute;
  padding: 3em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .left {
    margin: 10vh 5vh 0 5vh;
  }

  #announcements {
    margin-top: 10vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left {
    margin-top: 16rem;
    margin-left: 3%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .left {
    /* margin-top: 16rem;
    margin-left: 10%; */
    margin-top: 8rem;
    margin-left: 2%;
  }
}

@media only screen and (min-width: 1600px) {
  .left {
    margin-top: 16rem;
    margin-left: 10%;
  }
}

.main-part {
  text-align: center;
  width: 100%;
}
.big-heading {
  padding: 0 1em 1em 1em;
  overflow: hidden;
}
.main-part p {
  font-size: 20px;
}
.right {
  height: 100vh;
  background-color: #000;
  width: 35%;
  position: absolute;
  right: 0;
  top: 0;
}
.fit-img {
  width: 90%;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  left: 0.75em;
}

.but2 {
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  background: #f8c100;

  text-decoration: none;
  border: none;
}

.but2:hover {
  background: #ffffff;
  text-decoration: none;
  color: #f8c100;
  border: #f8c100 2px solid;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.but3 {
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #f8c100;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: #f8c100 2px solid;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.but3:hover {
  background: #f8c100;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .big-heading {
    padding-top: 1em 0 0.5em 0;
    font-size: 30px;
  }
  .hero {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .navbar nav ul.primary-nav {
    margin: 0;
    font-size: 10px;
  }
}

/* navbar end */
/*hero*/
/*timer*/

#timer {
  position: relative;
}

.timer {
  height: 35vh;
  background-color: #0a1931;
  position: static;
  overflow-x: hidden;
  font-family: sans-serif;
}

.timer_head {
  width: 100%;
  position: relative;
  top: 10%;
  margin-top: 2rem;
  padding: 20px;
}

.timer_data {
  position: relative;
  top: 2em;
}

.circle-1 {
  margin: 20px;
  width: 130px;
  height: 130px;

  border-radius: 50%;
  font-size: 20px;
  color: black;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 30px;

  animation: mymove 5s infinite;
}
@keyframes mymove {
  60% {
    border: 8px solid cyan;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .timer_head {
    margin-left: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1080px) {
  .timer {
    height: 50%;
    display: block;
    width: 100%;
    padding: 20px;
  }
}
/*timer*/

/*announce*/

.running {
  white-space: nowrap;
  background-color: #f8c100;
  padding: 2rem;
}

.running p {
  overflow: visible;
  animation-name: runningtext;
  position: relative;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  padding: 0;
}

.running p:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.running a {
  font-size: 1.5rem;
  overflow: visible;
  color: #000;
  margin: 0 3rem;
}

.running a:hover {
  color: red;
  text-decoration: none;
}

#timer_day,
#timer_hrs,
#timer_min,
#timer_sec {
  color: #ffffff;
}

@keyframes runningtext {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

/*announce*/

/* 
about */
.containera {
  height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0a1931;
  padding: 2rem;
}
.lefta {
  margin: auto;
  display: flex;
  align-items: center;
  width: 70%;
  height: fit-content;
}

.lefta-1 {
  width: 70%;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #ffffff;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  -webkit-border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  -moz-border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.lefta h3 {
  color: #000;
  text-align: center;
  font-size: 2rem;
}
.lefta p {
  color: #000;
  text-align: justify;
  padding: 1rem;
}

.lefta a {
  text-decoration: none;
  color: #0a1931;
  margin: auto;
}

.righta {
  width: 30%;
  display: flex;
  align-content: center;
}
.carousel-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
}
.carousel {
  display: flex;
  width: 1200px;
  animation: sliding 12s infinite;
}
.carousel div {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel .image-one {
  background-image: url("https://images.static-collegedunia.com/public/college_data/images/appImage/15528_VESIT.jpg");
}
.carousel .image-two {
  background-image: url("https://schoolbook.getmyuni.com/assets/images/rev_img/5212__1970/1431109154IMG-20130329-WA0006.jpg");
}
.carousel .image-three {
  background-image: url("https://th.bing.com/th/id/R.a8d5c0fb3287cc073e0fffc07f182301?rik=8r2e6yPBIwkcBg&riu=http%3a%2f%2fvesittpc.ves.ac.in%2fuploadss%2f17866.jpg&ehk=IhpzwqOBFzERPISyJfKqOTKUZk21C9t9EiLikz4l0dw%3d&risl=&pid=ImgRaw");
}
@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-400px);
  }
  65% {
    transform: translateX(-400px);
  }
  70% {
    transform: translateX(-800px);
  }
  98% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1200px) {
  .lefta {
    margin: auto 2rem;
    width: auto;
  }
  .lefta p {
    padding: 1rem;
  }
  .righta {
    margin: auto;
  }
  .carousel-container {
    width: 240px;
    height: 150px;
  }
  .carousel {
    width: 720px;
  }
  .carousel > div {
    width: 240px;
    height: 150px;
  }
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-240px);
    }
    65% {
      transform: translateX(-240px);
    }
    70% {
      transform: translateX(-480px);
    }
    98% {
      transform: translateX(-480px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* about end */

/* Speakers Section */

#speakers {
  position: relative;
  background-color: #0a1931;
  padding: 2em;
}

.heading-speaker p {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 2rem 0 3rem 0;
}

.colspek {
  border: none;
}

.card-gradient {
  background: rgb(10, 25, 49);
  background: -moz-linear-gradient(
    180deg,
    rgba(10, 25, 49, 1) 49.9999%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(10, 25, 49, 1) 49.9999%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(10, 25, 49, 1) 49.9999%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a1931",endColorstr="#ffffff",GradientType=1);
}

.imgspek {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
}

/* speaker section end */

/* sponsor section */

.heading-sponsor p {
  background: #f8c100;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #0a1931;
  padding: 1rem 0;
  margin: 4rem 0 3rem 0;
}

.sponcol {
  margin: 20px;
  margin-top: 50px;
  border-radius: 50%;
}

#speakers .card-body {
  margin: 0.5em;
  height: auto;
  padding: 0;
}

#sponsors {
  padding-bottom: 8%;
  height: fit-content;
}

#sponsors.card-text {
  margin-left: 0;
}

.card {
  max-width: 1000px;
}

.col-sm-4 {
  justify-content: center;
}

#sponsors.card-img-top {
  margin: 19px;
  width: 350px;
  border-radius: 50%;
}

.colspek {
  width: 390px;
  margin: 0 auto;
}

.colspo {
  width: 220px;
  margin: 0 auto;
  border: solid 1px #000;
  box-shadow: 0.625rem 0.625rem 0 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.625rem 0.625rem 0 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.625rem 0.625rem 0 0 rgba(0, 0, 0, 0.75);
}

.imgspon {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .spondeck {
    margin-left: 70px;
  }
  .speakdeck {
    margin-left: 10px;
  }
}

/* sponsors section end */

/* schedule */

#schedule {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-div {
  max-height: 80vh;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 2em;
  background: #0a1931;
  border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
  -webkit-border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
  -moz-border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
}

/* width */
.main-div::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.main-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.main-div::-webkit-scrollbar-thumb {
  background: #b99100;
}

/* Handle on hover */
.main-div::-webkit-scrollbar-thumb:hover {
  background: #f8c100;
}

.title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 2em 0;
}
.body-container {
  margin: auto;
  height: auto;
}
.days-count {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 3em;
}

.days {
  background-color: rgb(255, 196, 0);
  border: none;
  color: white;
  padding: 10px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  display: table-cell;
}

.days:hover {
  cursor: pointer;
  color: #000000;
  transform: scale(1.3);
}

.contents {
  display: none;
  margin-bottom: 70px;
  text-decoration: none;
}
.sch {
  text-decoration: none;
}
.current {
  display: block;
}

.btncurrent {
  background-color: red;
}

.ab-3 {
  height: fit-content;
  max-width: 650px;
  margin-bottom: 5%;
  background-color: #fff;
  border-radius: 25px;
  padding: 0.5em;
}

.col-md-4 {
  text-align: center;
  color: black;
  font-weight: bold;
}

.eg-2 .card-text {
  text-align: justify;
}

.card-title {
  text-align: center;
}

.contents .card-body {
  margin-top: 0;
}

.g-0 {
  justify-content: center;
}

.eg-1 {
  margin: auto;
}

.eg-2 {
  border-left: 2px solid lightslategray;
}

@media (max-width: 1013px) {
  .ab-3 {
    width: 380px;
    padding-right: 20%;
    transform: translate(-29%, 0%);
  }
  .contents {
    margin-left: 0px;
  }
  .timecon {
    text-align: center;
    margin-left: 75px;
    width: 250px;
  }
  .card-title {
    width: auto;
    margin: auto;
  }
  .card-text {
    margin-left: auto;
  }

  .timecon {
    border-right: none;
    border-bottom: 2px solid lightslategray;
  }
  .eg {
    margin-top: 1em;
  }
}

/* schedule end */

/*Venue*/
.venue {
  font-family: sans-serif;

  margin-top: 20px;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: scroll;
  background-color: #0a1931;
}

.venue::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1150px) {
  .venue {
    height: 800px;
    font-size: 20px;
    overflow: scroll;
  }

  .venue_map iframe {
    padding: 20px;
    width: 500px;
  }
}
.venue {
  margin: 0 0 4rem 0;
  margin-left: 0;
}

.venue_head {
  padding-top: 5em;
  display: block;
  margin: auto;
  width: 80%;
}

.venue_head p {
  color: #ffffff;
}

@media only screen and (min-width: 1080px) {
  #venue {
    position: relative;
  }
  .venue {
    display: flex;
  }
  .venue_head {
    margin: 6em 13em;
    width: 30%;
  }
  .venue_map {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  iframe {
    height: 100%;
  }
}
/*Venue*/

/*footer*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
/*footer*/

/* To Top Button */

@media only screen and (max-width: 768px) {
  #toTop {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .timer_data {
    position: relative;
    top: 0em;
  }

  .circle-1 {
    margin: 10px;
  }

  .containera {
    height: auto;
    padding: 0%;
  }

  .lefta {
    margin: auto 1rem;
  }

  .lefta-1 {
    width: auto;
    padding: 1.5em 0.25em 0.5em 0.25em;
  }

  .left p {
    text-align: justify;
  }

  .righta {
    width: auto;
    padding: 2rem 0 3rem 0;
  }

  .main-div {
    padding: 0.8em;
  }

  .ab-3 {
    width: auto;
    padding: 0;
    transform: translate(0%, 0%);
  }

  .timecon {
    margin: 0 auto;
  }

  .eg-1 {
    margin: 1em auto 0;
    width: fit-content;
  }

  .eg-2 .card-text {
    margin-top: 1rem;
  }

  #speakers {
    padding: 1em;
  }

  .heading-speaker p {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
  }

  .colspek {
    width: auto;
  }

  .imgspek {
    width: 200px;
    height: 200px;
  }

  .heading-sponsor p {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
  }

  .colspo {
    margin: 0 auto 2em;
  }

  .venue {
    height: auto;
  }

  .venue_head {
    padding-top: 2em;
  }

  .venue_map iframe {
    width: auto;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .navbar {
    padding: 1.75em 0 0 0;
  }

  .navbar-brand img {
    width: 160px;
  }

  .navbar nav {
    padding: 1em;
    border-radius: 20px;
  }

  .left {
    margin-top: 18rem;
    margin-left: 1.25rem;
  }

  .timer_head {
    margin-top: 0.5rem;
  }

  .containera {
    height: auto;
  }

  .lefta-1 {
    width: auto;
  }

  .righta {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .timer_head {
    margin-top: 1rem;
  }

  .colspek {
    width: auto;
  }

  .imgspek {
    width: 225px;
    height: 225px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1600px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .timer {
    height: auto;
  }

  .timer_data {
    top: 0%;
  }

  .containera {
    height: auto;
  }
}
